.headerbg{
    background-color: #5e0909;
}
.text-color{
    color: white !important;
}
.more-border-color{
    border-color: #5e0909;
    background-color: #5e0909;
}
.landing{
    display: flex;
    flex-direction: column;
    /* height: 75vh; */
    justify-content: center;
    align-items: center;
    background-color: #5e0909;
    color: white;
    
    
}
.navigate{
    background-color: #5e0909;
}
.collapse-color{
    color: white;
    background-color: white;
}
.search-button{
    color: white;
    border: 1px solid white;
}
.foot-bgcolor{
    background-color: #5e0909;
    color: white;
    border-color: #5e0909;
    border-radius: 0;
}

.htmlcont{
    background-color: #5e0909;
    color: white;
    padding: 2rem;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    
}
.image-size{
    width: 35vw !important;
}

@media screen and (max-width: 9999px) {
    .htmlcont{
        height: 88vh;
    }
    .landing{
        height: 88vh;
    }
}