.headerbg{
    background-color: black;
}
.text-color{
    color: white !important;
}
.more-border-color{
    border-color: black;
    background-color: black;
}
.content{
    height: 85vh;
}
.navigate{
    background-color: black;
}
.collapse-color{
    color: white;
    background-color: white;
}
.search-button{
    color: white;
    border: 1px solid white;
}